# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
*.egg

# ML модели (тяжёлые)
*.pt
*.bin
*.safetensors

# Данные
*.csv
*.parquet

# Окружение
.env
backend/.env

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

.zip